---
layout: content
title: Sitemap
---

<script lang="ts">
	import type { ExternalLink, Link } from "$lib/types/link.types";
	import { sitemapPages } from "$lib/data/site.data";
	import { listItem } from "$lib/snippets/list-item.snippet.svelte";

	const navigation: Link[] = sitemapPages
		.filter((page) => page.section === "main")
		.map(({ title, href }) => ({ name: title, url: href }));
	const services: Link[] = sitemapPages
		.filter((page) => page.section === "services")
		.map(({ title, href }) => ({ name: title, url: href }));
	const government: Link[] = sitemapPages
		.filter((page) => page.section === "government")
		.map(({ title, href }) => ({ name: title, url: href }));

	const externalResources: ExternalLink[] = [
		{ name: "Official Calapan Website", url: "https://cityofcalapan.gov.ph" },
		{ name: "Official Oriental Mindoro Website", url: "https://ormindoro.gov.ph" },
		{ name: "Philippine Statistics Authority", url: "https://psa.gov.ph" },
		{ name: "Freedom of Information", url: "https://foi.gov.ph" }
	];

	const others: Link[] = sitemapPages
		.filter((page) => page.section === "other")
		.map(({ title, href }) => ({ name: title, url: href }));
</script>

# {title}

Navigate all pages and services of BetterCalapan.

<div class="sitemap-sections">
	<section>
		<h2>Main Navigation</h2>
		<ul>
			{#each navigation as item (item.name)}
				{@render listItem(item.name, item.url)}
			{/each}
		</ul>
	</section>
	<section>
		<h2>Services</h2>
		<ul>
			{#each services.slice(0, 2) as item (item.name)}
				{@render listItem(item.name, item.url)}
			{/each}
		</ul>
	</section>
	<section>
		<h2>Government</h2>
		<ul>
			{#each government as item (item.name)}
				{@render listItem(item.name, item.url)}
			{/each}
		</ul>
	</section>
	<section>
		<h2>Others</h2>
		<ul>
			{#each others as item (item.name)}
				{@render listItem(item.name, item.url)}
			{/each}
		</ul>
	</section>
	<section>
		<h2>External Resources</h2>
		<ul>
			{#each externalResources as item (item.name)}
				{@render listItem(item.name, item.url)}
			{/each}
		</ul>
	</section>
</div>

<style>
	.sitemap-sections {
		margin-top: 2rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.sitemap-sections section {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}

	.sitemap-sections h2 {
		margin-top: 0;
	}

	.sitemap-sections ul {
		margin: 0;
		padding: 0;
		gap: 0.5rem;
		list-style: none;
	}

	@media (min-width: 900px) {
		.sitemap-sections {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem 6rem;
		}
	}
</style>
