---
layout: content
title: Business
breadcrumbs:
  - name: Services
    url: /services
---

<script>
	import { resolveRoute } from "$lib/utils/paths";
	import { business } from "$lib/data/services.data";
	import { listItem } from "$lib/snippets/list-item.snippet.svelte";
</script>

# {title}

{business.description}

<ul class="business-list">
	{#each business.data as service (service.name)}
		{@render listItem(service.name, service.url)}
	{/each}
</ul>

<p class="office">
	If you need any of these, head to the
	<a class="link" href={resolveRoute("/contact")}>Calapan City Hall</a>
	and ask for what you need.
</p>

<style>
	.business-list {
        padding: 0;
		margin: 2rem 0;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
        list-style-type: none;
	}

	.office .link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
</style>
