---
layout: content
title: Officials
breadcrumbs:
  - name: Government
    url: /government
---

<script>
	import { executive, legislative, officials } from "$lib/data/government.data";
	import Source from "$lib/components/macro/source.svelte";
	import ContactAction from "$lib/components/macro/contact-action.svelte";
	import Clock from "@lucide/svelte/icons/clock";
	import Email from "@lucide/svelte/icons/mail";
	import Phone from "@lucide/svelte/icons/phone";
	import Shield from "@lucide/svelte/icons/shield";
	import User from "@lucide/svelte/icons/user";
</script>

# {title}

{officials.description}

## Executive Branch

<div class="officials">
	{#each executive as official (official.name)}
		<section class="official">
			<h3>{official.title}</h3>
			<p><User /> {official.name}</p>
			<p><Email /> <ContactAction method={{ kind: "email", value: official.email }} /></p>
		</section>
	{/each}
</div>

## Legislative Branch

<div class="officials">
	{#each legislative as official (official.name)}
		<section class="official">
			<h3>{official.title}</h3>
			<p><User /> {official.name}</p>
			<p><Shield /> {official.description}</p>
		</section>
	{/each}
</div>

<Source source={officials.source} />

<style>
	.officials {
    margin-top: 0.75rem;
    margin-bottom: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 1rem;
	}

	.official {
		padding: 1.5rem 1.75rem;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		background-color: var(--neutral-light);
		border-radius: 2rem;
	}

	.official h3 {
		margin-bottom: 0.5rem;
		font-size: 1.25rem;
		font-weight: 600;
	}

	.official p {
		margin: 0;
		display: grid;
		grid-template-columns: 18px 1fr;
		align-items: center;
		gap: 0.75rem;
	}

	@media (min-width: 900px) {
		.officials {
			gap: 1.5rem;
		}
	}
</style>
