node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Cloudflare
worker-configuration.d.ts

# Lighthouse 
.unlighthouse

# Pa11y
.pa11y

# Lychee
.lychee

# Local roadmap
/TODO.md
