---
layout: content
title: Services
---

<script>
	import { resolveRoute } from "$lib/utils/paths";
	import { services } from "$lib/data/services.data";
	import { listItem } from "$lib/snippets/list-item.snippet.svelte";
</script>

# {title}

{services.description}

<ul class="services-list">
	{#each services.data as service (service.name)}
		{@render listItem(service.name, service.url)}
	{/each}
</ul>

<p class="office">
	If you need any of these, head to the
	<a class="link" href={resolveRoute("/contact")}>Calapan City Hall</a>
	and ask for what you need.
</p>

<style>
	.services-list {
        padding: 0;
		margin: 2rem 0;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
        list-style-type: none;
	}
</style>
