---
layout: content
title: Certified True Copy of Business License and Mayor's Permit
breadcrumbs:
  - name: Services
    url: /services
  - name: Business
    url: /services/business
onThisPage:
  - name: Certified True Copy of Business License and Mayor's Permit
    id: title
  - name: Requirements
    id: requirements
  - name: Step-by-step process
    id: step-by-step-process
  - name: Office info
    id: office-info
  - name: Frequently asked questions
    id: frequently-asked-questions
relatedContent:
  - name: Business Permit
    url: /services/business/business-permit
  - name: Occupational Permit
    url: /services/business/occupational-permit
  - name: Special Permit
    url: /services/business/special-permit
---

<script>
	import Accordion from "$lib/components/macro/accordion.svelte";
	import OfficeInfo from "$lib/components/macro/office-info.svelte";
	import { offices } from "$lib/data/offices.data";
	import Source from "$lib/components/macro/source.svelte";
	import { serviceRecords } from "$lib/data/services.data";

	const faq = [
		{
			question: "What is the purpose of this certified true copy?",
			answer: "It is issued by the City Government to Business Owners who request it for whatever legal purposes it may serve."
		}
	];
</script>

# {title}

Issued to business owners who request it in whatever legal purposes it may serve.

## Requirements

There are additional documents if applied through a representative.

### Documents

- Photocopy of Business License and Mayor's Permit
- Identification Card

### If done through a representative

- Letter of Authority / Special Power of Attorney / Secretary Certificate

## Step-by-step process

Follow these steps to claim your certified true copy.

1. ### Submit requirements

    Submit the requirements to the BPLO frontliners for review, validation, and verification of records. An Order of Payment will be issued.

2. ### Pay the fee

    Upon receiving the Order of Payment, pay ₱90 at the Office of the City Treasurer's - Miscellaneous Division. An Official Receipt will be issued.

3. ### Claim the document

    Return to the BPLO for the stamping, signing, and releasing of the Certified True Copy of Business License and Mayor's Permit.

## Office info

<OfficeInfo office={offices.businessPermitAndLicensing} />

## Frequently asked questions

<Accordion {faq} />

<Source source={serviceRecords.ctcBusinessLicense.source} />
