---
layout: content
title: Departments
breadcrumbs:
  - name: Government
    url: /(content)/government
---

<script>
	import { departments } from "$lib/data/government.data";
	import Source from "$lib/components/macro/source.svelte";
</script>

# {title}

{departments.description}

<ul class="departments">
	{#each departments.data as department (department)}
		<li>{department}</li>
	{/each}
</ul>

<Source source={departments.source} />

<style>
	.departments {
		padding-left: 1.25rem;
		margin-top: 2rem;
		list-style-type: disc;
	}

	@media (min-width: 900px) {
		.departments {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0.5rem 6rem;
		}
	}
</style>
